* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
.switcher-btn {
  width: 200px;
  height: 80px;
  font-size: 40px;
  margin-top: 200px;
}
.switcher {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.timer-container {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.timer-input {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.label {
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.value {
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
